<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/simple-side-bar.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script>
        $(document).ready(function() {
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });
    </script>
</head>
<body>
<script>
    $(document).ready(function() {
        $("#submit").click(function() {
            var query = $("#query").val();
            var searchType = $("#search-type option:selected").val();

            if (query == "") {
                alert("搜索条件为空");

                return;
            }

            location.href = "/search/search?query=" + query + "&searchType=" + searchType;
        });
    });
</script>
<div id="wrapper">
    <#include "/common/header.html"/>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h2>搜索</h2>
                <div class="col-sm-offset-11 col-sm-1">
                    <a href="#menu-toggle" class="btn btn-info" id="menu-toggle">显示菜单</a>
                </div>
            </div>
            <div class="row">
                <form role="form" class="form-horizontal">
                    <div class="form-group username has-feedback">
                        <label for="query" class="col-sm-2 control-label">搜索条件</label>
                        <div class="col-sm-6">
                            <input type="text" id="query" name="query" class="form-control">
                            <span class="glyphicon form-control-feedback" style="display: none"></span>
                        </div>
                        <label class="control-label" for="query" style="display: none"></label>
                    </div>

                    <div class="form-group">
                        <label for="search-type" class="control-label col-sm-2">搜索类型</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="search-type" name="search-type">
                                <#list searchTypes as searchType>
                                    <option name="${searchType.description}" value="${searchType.value}">${searchType.description}</option>
                                </#list>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-info" id="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>