<!DOCTYPE html>
<html>
<head>
    <title>表格详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/simple-side-bar.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script>
        $(document).ready(function() {
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });
    </script>
</head>
<body>
<div id="wrapper">
    <#include "/common/header.html"/>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h2>表格详情</h2>
                <div class="col-sm-offset-11 col-sm-1">
                    <a href="#menu-toggle" class="btn btn-info" id="menu-toggle">显示菜单</a>
                </div>
            </div>
            <div class="row">
                <h3>基本信息</h3>
                <table class="table table-striped">
                    <thead>
                    <th>ID</th>
                    <th>名称</th>
                    <th>别名</th>
                    <th>描述</th>
                    <th>创建时间</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>${table.id}</td>
                        <td>${table.name}</td>
                        <td>${table.alias}</td>
                        <td>${table.description!}</td>
                        <td>${table.createTime}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h3>字段列表</h3>
                <table class="table table-striped">
                    <thead>
                    <th>ID</th>
                    <th>名称</th>
                    <th>别名</th>
                    <th>类型</th>
                    <th>是否为主键</th>
                    <th>是否为空</th>
                    <th>描述</th>
                    <th>创建时间</th>
                    </thead>
                    <tbody>
                    <#list columns as column>
                    <tr>
                        <td>${column.id}</td>
                        <td>${column.name}</td>
                        <td>${column.alias}</td>
                        <td>${column.dataType.name}</td>
                        <td>${column.isPrimaryKey()?string('是', '否')}</td>
                        <td>${column.nullable?string('是', '否')}</td>
                        <td>${column.description!}</td>
                        <td>${column.createTime}</td>
                    </tr>
                    </#list>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>