<!DOCTYPE html>
<html>
<head>
    <title>标签详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/simple-side-bar.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script>
        $(document).ready(function() {
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });
    </script>
</head>
<body>
<div id="wrapper">
    <#include "/common/header.html"/>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h2>标签详情</h2>
                <div class="col-sm-offset-11 col-sm-1">
                    <a href="#menu-toggle" class="btn btn-info" id="menu-toggle">显示菜单</a>
                </div>
            </div>
            <div class="row">
                <h3>基本信息</h3>
                <table class="table table-striped">
                    <thead>
                    <th>ID</th>
                    <th>名称</th>
                    <th>贴标表</th>
                    <th>描述</th>
                    <th>创建时间</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>${tag.id}</td>
                        <td>${tag.name}</td>
                        <td><a href="/table/detail?id=${tag.table.id}">${tag.table.name}</a></td>
                        <td>${tag.description!}</td>
                        <td>${tag.createTime}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h3>标签值</h3>
                <table class="table table-striped">
                    <thead>
                    <th>ID</th>
                    <th>名称</th>
                    <th>序号</th>
                    <th>过滤条件</th>
                    <th>计算规则</th>
                    </thead>
                    <tbody>
                    <#list tag.tagValues as tagValue>
                    <tr>
                        <td>${tagValue.id}</td>
                        <td>${tagValue.value}</td>
                        <td>${tagValue.order}</td>
                        <td>${tagValue.filterCondition}</td>
                        <td>${tagValue.computeCondition}</td>
                    </tr>
                    </#list>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h3>引用信息</h3>
                <table class="table table-striped">
                    <thead>
                    <th>ID</th>
                    <th>类型</th>
                    <th>名称</th>
                    </thead>
                    <tbody>
                    <#list objectReferences as objRef>
                    <tr>
                        <td>
                            <#if objRef.refObjectType.value == 'SYSTEM_PARAM'>
                                <a href="/systemParam/detail?id=${objRef.refObjectId}">${objRef.refObjectId}</a>
                            <#elseif objRef.refObjectType.value == 'TABLE'>
                                <a href="/table/detail?id=${objRef.refObjectId}">${objRef.refObjectId}</a>
                            <#elseif objRef.refObjectType.value == 'TAG'>
                                <a href="/tag/detail?id=${objRef.refObjectId}">${objRef.refObjectId}</a>
                            <#elseif objRef.refObjectType.value == 'TABLE_RELATION'>
                                <a href="/tableRelation/detail?id=${objRef.refObjectId}">${objRef.refObjectId}</a>
                            <#else>
                                <a href="/index/detail?id=${objRef.refObjectId}">${objRef.refObjectId}</a>
                            </#if>
                        </td>
                        <td>${objRef.refObjectType.description}</td>
                        <td>${objRef.refObjectName}</td>
                    </tr>
                    </#list>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h3>被引用信息</h3>
                <table class="table table-striped">
                    <thead>
                    <th>ID</th>
                    <th>类型</th>
                    <th>名称</th>
                    </thead>
                    <tbody>
                    <#list refObjects as objRef>
                    <tr>
                        <td>
                            <#if objRef.objectType.value == 'SYSTEM_PARAM'>
                            <a href="/systemParam/detail?id=${objRef.objectId}">${objRef.objectId}</a>
                            <#elseif objRef.objectType.value == 'TABLE'>
                            <a href="/table/detail?id=${objRef.objectId}">${objRef.objectId}</a>
                            <#elseif objRef.objectType.value == 'TAG'>
                            <a href="/tag/detail?id=${objRef.objectId}">${objRef.objectId}</a>
                            <#else>
                            <a href="/index/detail?id=${objRef.objectId}">${objRef.objectId}</a>
                        </#if>
                        </td>
                        <td>${objRef.objectType.description}</td>
                        <td>${objRef.objectName}</td>
                    </tr>
                    </#list>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>