<tr class="tag-value-info">
    <td>
        <input type="text" class="form-control tagValue" name="tagValue">
    </td>
    <td>
        <textarea class="form-control filterCondition" name="filterCondition"></textarea>
    </td>

    <td>
        <textarea class="form-control computeCondition" name="computeCondition"></textarea>
    </td>

    <td>
        <input type="text" class="form-control description" name="description">
    </td>

    <td>
        <button type="button" class="btn btn-info delete-tag-value">删除</button>
    </td>
</tr>