<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anshishagua.mybatis.mapper.IndexMapper">
    <resultMap id="indexMapper" type="com.anshishagua.object.Index">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="type" property="indexType" jdbcType="VARCHAR" typeHandler="com.anshishagua.mybatis.typehandler.IndexTypeHandler"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" typeHandler="com.anshishagua.mybatis.typehandler.LocalDateTimeHandler"></result>
        <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" typeHandler="com.anshishagua.mybatis.typehandler.LocalDateTimeHandler"></result>
        <result column="description" property="description" jdbcType="VARCHAR"></result>
        <result column="deleted" property="deleted" jdbcType="BIT"></result>
        <result column="sql_generate_result" property="sqlGenerateResult" jdbcType="VARCHAR" typeHandler="com.anshishagua.mybatis.typehandler.SQLGenerateResultHandler"></result>
    </resultMap>
    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" flushCache="true">
        INSERT INTO `t_index`(`name`, `type`, `create_time`, `last_updated`, `description`, `sql_generate_result`)
                VALUES (#{name},
                        #{indexType, typeHandler=com.anshishagua.mybatis.typehandler.IndexTypeHandler},
                        #{createTime, typeHandler=com.anshishagua.mybatis.typehandler.LocalDateTimeHandler},
                        #{lastUpdated, typeHandler=com.anshishagua.mybatis.typehandler.LocalDateTimeHandler},
                        #{description},
                        #{sqlGenerateResult, typeHandler=com.anshishagua.mybatis.typehandler.SQLGenerateResultHandler}
                )
    </insert>
    <update id="updateSQLGenerateResult" flushCache="true">
        UPDATE `t_index`
        SET sql_generate_result = #{sqlGenerateResult, typeHandler=com.anshishagua.mybatis.typehandler.SQLGenerateResultHandler}
        WHERE id = #{id}
    </update>
    <select id="getById" resultMap="indexMapper">
        SELECT *
        FROM t_index
        WHERE id = #{id};
    </select>
    <select id="getByName" resultMap="indexMapper">
        SELECT *
        FROM t_index
        WHERE `name` = #{name};
    </select>
    <select id="getByNameLike" resultMap="indexMapper">
        SELECT *
        FROM `t_index`
        WHERE `name` LIKE CONCAT('%', #{name},'%')
    </select>
    <select id="list" resultMap="indexMapper">
        SELECT *
        FROM t_index
    </select>
</mapper>