<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anshishagua.mybatis.mapper.IndexMetricMapper">
    <resultMap id="indexMetricMapper" type="com.anshishagua.object.IndexMetric">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="index_id" property="indexId" jdbcType="BIGINT"></result>
        <result column="order" property="order" jdbcType="INTEGER"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="expression" property="expression" jdbcType="VARCHAR"></result>
        <result column="type_id" property="typeId" jdbcType="BIGINT"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" typeHandler="com.anshishagua.mybatis.typehandler.LocalDateTimeHandler"></result>
        <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" typeHandler="com.anshishagua.mybatis.typehandler.LocalDateTimeHandler"></result>
        <result column="description" property="description" jdbcType="VARCHAR"></result>
        <result column="deleted" property="deleted" jdbcType="BIT"></result>
    </resultMap>
    <insert id="insert" keyProperty="id" keyColumn="id" useGeneratedKeys="true" flushCache="true">
        INSERT INTO `t_index_metric`(`index_id`, `order`, `name`, `expression`, `type_id`, `create_time`, `last_updated`, `description`)
        VALUES (#{indexId},
                #{order},
                #{name},
                #{expression},
                #{typeId},
                #{createTime, typeHandler=com.anshishagua.mybatis.typehandler.LocalDateTimeHandler},
                #{lastUpdated, typeHandler=com.anshishagua.mybatis.typehandler.LocalDateTimeHandler},
                #{description}
        )
    </insert>
    <select id="getByIndexId" resultMap="indexMetricMapper">
        SELECT *
        FROM t_index_metric
        WHERE index_id = #{indexId}
        ORDER BY `order`;
    </select>
</mapper>