<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anshishagua.mybatis.mapper.TableMapper">
    <resultMap id="tableMapper" type="com.anshishagua.object.Table">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="alias" property="alias" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" typeHandler="com.anshishagua.mybatis.typehandler.LocalDateTimeHandler"></result>
        <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" typeHandler="com.anshishagua.mybatis.typehandler.LocalDateTimeHandler"></result>
        <result column="description" property="description" jdbcType="VARCHAR"></result>
        <result column="deleted" property="deleted" jdbcType="BIT"></result>
    </resultMap>
    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `t_table`(`name`, `alias`, `create_time`, `last_updated`, `description`)
            VALUE (#{name},
                   #{alias},
                   #{createTime, typeHandler=com.anshishagua.mybatis.typehandler.LocalDateTimeHandler},
                   #{lastUpdated, typeHandler=com.anshishagua.mybatis.typehandler.LocalDateTimeHandler},
                   #{description})
    </insert>
    <select id="getById" resultMap="tableMapper">
        SELECT *
        FROM t_table
        WHERE t_table.id = #{id}
    </select>
    <select id="getByName" resultMap="tableMapper">
        SELECT *
        FROM t_table
        WHERE t_table.name = #{name}
    </select>
    <select id="list" resultMap="tableMapper">
        SELECT *
        FROM t_table
    </select>
    <select id="tableNameLike" resultType="string">
        SELECT `name`
        FROM t_table
        WHERE `name` LIKE CONCAT(CONCAT(#{tableName},'%'))
    </select>
</mapper>