<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anshishagua.mybatis.mapper.TableColumnMapper">
    <resultMap id="tableColumnMapper" type="com.anshishagua.object.TableColumn">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="table_id" property="tableId" jdbcType="BIGINT"></result>
        <result column="is_primary_key" property="isPrimaryKey" jdbcType="BIT"></result>
        <result column="nullable" property="nullable" jdbcType="BIT"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="alias" property="alias" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" typeHandler="com.anshishagua.mybatis.typehandler.LocalDateTimeHandler"></result>
        <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" typeHandler="com.anshishagua.mybatis.typehandler.LocalDateTimeHandler"></result>
        <result column="description" property="description" jdbcType="VARCHAR"></result>
        <result column="deleted" property="deleted" jdbcType="BIT"></result>
        <result column="type_id" property="typeId" jdbcType="BIGINT"></result>
    </resultMap>
    <insert id="addColumn" keyColumn="id" keyProperty="id" useGeneratedKeys="true" flushCache="true">
        INSERT INTO `t_table_column`(`table_id`, `is_primary_key`, `nullable`, `name`, `alias`, `create_time`, `last_updated`, `description`, `type_id`)
                VALUES (#{tableId},
                        #{isPrimaryKey},
                        #{nullable},
                        #{name},
                        #{alias},
                        #{createTime, typeHandler=com.anshishagua.mybatis.typehandler.LocalDateTimeHandler},
                        #{lastUpdated, typeHandler=com.anshishagua.mybatis.typehandler.LocalDateTimeHandler},
                        #{description},
                        #{typeId}
                )
    </insert>
    <select id="getById" resultMap="tableColumnMapper">
        SELECT *
        FROM t_table_column
        WHERE t_table_column.id = #{id}
    </select>
    <select id="getByTableId" resultMap="tableColumnMapper">
        SELECT *
        FROM t_table_column
        WHERE t_table_column.table_id = #{tableId}
        ORDER BY id
    </select>
</mapper>