<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anshishagua.mybatis.mapper.TaskMapper">
    <resultMap id="taskMapper" type="com.anshishagua.compute.Task">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="object_id" property="objectId" jdbcType="BIGINT"></result>
        <result column="task_type" property="taskType" jdbcType="VARCHAR" typeHandler="com.anshishagua.mybatis.typehandler.TaskTypeHandler"></result>
        <result column="resources" property="resources" jdbcType="INTEGER"></result>
        <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" typeHandler="com.anshishagua.mybatis.typehandler.LocalDateTimeHandler"></result>
        <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" typeHandler="com.anshishagua.mybatis.typehandler.LocalDateTimeHandler"></result>
        <result column="description" property="description" jdbcType="VARCHAR"></result>
        <result column="deleted" property="deleted" jdbcType="BIT"></result>
    </resultMap>
    <insert id="addNewTask" keyColumn="id" keyProperty="id" useGeneratedKeys="true" flushCache="true">
        INSERT INTO `t_task`(`object_id`, `task_type`, `resources`, `cron_expression`, `create_time`, `last_updated`, `description`)
                VALUES (#{objectId},
                        #{taskType, typeHandler=com.anshishagua.mybatis.typehandler.TaskTypeHandler},
                        #{resources},
                        #{cronExpression},
                        #{createTime, typeHandler=com.anshishagua.mybatis.typehandler.LocalDateTimeHandler},
                        #{lastUpdated, typeHandler=com.anshishagua.mybatis.typehandler.LocalDateTimeHandler},
                        #{description}
                )
    </insert>
    <select id="getById" resultMap="taskMapper">
        SELECT *
        FROM t_task
        WHERE id = #{id}
    </select>
    <select id="list" resultMap="taskMapper">
        SELECT *
        FROM t_task
    </select>
    <select id="getByObjectId" resultMap="taskMapper">
        SELECT *
        FROM t_task
        WHERE `object_id` = #{id}
    </select>
    <select id="getByTaskTypeAndObjectId" resultMap="taskMapper">
        SELECT *
        FROM t_task
        WHERE `object_id` = #{objectId}
        AND task_type = #{taskType}
    </select>
</mapper>