<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anshishagua.mybatis.mapper.TaskDependencyMapper">
    <resultMap id="taskDependencyMapper" type="com.anshishagua.compute.TaskDependency">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="task_id" property="taskId" jdbcType="BIGINT"></result>
        <result column="dependent_task_id" property="dependentTaskId" jdbcType="BIGINT"></result>
    </resultMap>
    <insert id="insert" keyProperty="id" keyColumn="id" flushCache="true" useGeneratedKeys="true">
        INSERT INTO `t_task_dependency`(`task_id`, `dependent_task_id`)
              VALUES (#{taskId}, #{dependentTaskId})
    </insert>
    <select id="getById" resultMap="taskDependencyMapper">
        SELECT *
        FROM t_task_dependency
        WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="taskDependencyMapper">
        SELECT *
        FROM t_task_dependency
    </select>
</mapper>