<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anshishagua.mybatis.mapper.UserMapper">
    <resultMap id="userMapper" type="com.anshishagua.object.User">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="username" property="username" jdbcType="VARCHAR"></result>
        <result column="password" property="password" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" typeHandler="com.anshishagua.mybatis.typehandler.LocalDateTimeHandler"></result>
        <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" typeHandler="com.anshishagua.mybatis.typehandler.LocalDateTimeHandler"></result>
    </resultMap>
    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" flushCache="true">
        INSERT INTO `t_user`(`username`, `password`, `create_time`, `last_updated`)
                VALUES(#{username}, #{password}, NOW(), NOW())
    </insert>
    <update id="updatePassword" flushCache="true">
        UPDATE `t_user`
        SET `password` = #{password},
            `last_updated` = NOW()
        WHERE `id` = #{id}
    </update>
    <select id="getById" resultMap="userMapper">
        SELECT *
        FROM t_user
        WHERE id = #{id}
    </select>
    <select id="getByUserName" resultMap="userMapper">
        SELECT *
        FROM t_user
        WHERE username = #{username}
    </select>
</mapper>