<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/simple-side-bar.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script>
        $(document).ready(function() {
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });
    </script>
</head>
<body>
<script>
    $(document).ready(function() {
        $("#submit").click(function() {
            var username = $("#username").val();
            var oldPassword = $("#oldPassword").val();
            var newPassword = $("#newPassword").val();
            var confirmedNewPassword = $("#confirmedNewPassword").val();

            if (username == "") {
                alert("用户名为空");

                return;
            }

            if (oldPassword == "" || newPassword == "") {
                alert("密码为空");

                return;
            }

            if (newPassword != confirmedNewPassword) {
                alert("两次密码输入不一致");

                return;
            }

            if (newPassword == oldPassword) {
                alert("旧密码和新密码一致");

                return;
            }

            $.ajax({
                url: "/account/modifyPassword",
                dataType: "json",
                method: "post",
                data: {
                    username: username,
                    oldPassword: oldPassword,
                    newPassword: newPassword
                },
                success: function(result) {
                    if (result.success) {
                        location.href = "/";
                    } else {
                        alert("修改密码失败:" + result.errorMessage);
                    }
                }
            });
        });
    });
</script>

<div id="wrapper">
    <#include "/common/header.html"/>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h2>密码修改</h2>
                <div class="col-sm-offset-11 col-sm-1">
                    <a href="#menu-toggle" class="btn btn-info" id="menu-toggle">显示菜单</a>
                </div>
            </div>
            <div class="row">
                <form role="form" class="form-horizontal">
                    <div class="form-group username has-feedback">
                        <label for="username" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-6">
                            <input type="text" id="username" name="username" class="form-control">
                            <span class="glyphicon form-control-feedback" style="display: none"></span>
                        </div>
                        <label class="control-label" for="username" style="display: none"></label>
                    </div>

                    <div class="form-group">
                        <label for="oldPassword" class="control-label col-sm-2">原始密码</label>
                        <div class="col-sm-6">
                            <input type="password" id="oldPassword" name="oldPassword" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newPassword" class="control-label col-sm-2">新密码</label>
                        <div class="col-sm-6">
                            <input type="password" id="newPassword" name="newPassword" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmedNewPassword" class="control-label col-sm-2">确认新密码</label>
                        <div class="col-sm-6">
                            <input type="password" id="confirmedNewPassword" name="confirmedNewPassword" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-info" id="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>