<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                TIS(Tag Index System)
            </a>
        </li>
        <li><a href="/systemParam">系统参数</a></li>
        <li><a href="/table/list">表</a></li>
        <li><a href="/dataLoad/">上传数据</a></li>
        <li><a href="/tableRelation/list">关联关系</a> </li>
        <li><a href="/tag/list">标签</a></li>
        <li><a href="/index/list">指标</a></li>
        <li><a href="/task/">计算任务调度</a></li>
        <li><a href="/taskDependency/">任务依赖关系</a> </li>
        <li><a href="/taskExecution/list">计算任务监控</a> </li>
        <li><a href="/account/">用户中心</a> </li>
        <li><a href="/logout">退出系统</a> </li>
    </ul>
</div>