<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/simple-side-bar.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<script>
    $(document).ready(function() {
        $.ajax({
            url: "/table",
            success: function(data) {
                $(".content").html(data);
            }
        })
    });
</script>
<body>
<div id="wrapper">
    <#include "/common/header.html"/>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row content"></div>
            <div class="row">
                <a href="#menu-toggle" class="btn btn-info" id="menu-toggle">显示菜单</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>