<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据分析首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>
    <ul class="nav nav-tabs">
        <li><a href="/systemParam">系统参数</a></li>
        <li><a href="/table/list">表</a></li>
        <li><a href="/dataLoad/">上传数据</a></li>
        <li><a href="/tableRelation/list">关联关系</a> </li>
        <li><a href="/tag/list">标签</a></li>
        <li><a href="/index/list">指标</a></li>
        <li><a href="/task/">计算任务调度</a></li>
        <li><a href="/taskDependency/">任务依赖关系</a> </li>
        <li><a href="/taskExecution/list">计算任务监控</a> </li>
    </ul>
</body>
</html>