<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/simple-side-bar.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script>
        $(document).ready(function() {
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });
    </script>
</head>
<body>
<script>
    $(document).ready(function() {
        $("#submit").click(function() {
            var username = $("#username").val();
            var password = $("#password").val();

            if (username == "" || password == "") {
                alert("用户名或密码为空");

                return;
            }

            $.ajax({
                url: "/login",
                dataType: "json",
                method: "post",
                data: {
                    username: username,
                    password: password
                },
                success: function(result) {
                    if (result.success) {
                        //alert("登录成功");
                        location.href = "/";
                    } else {
                        alert("登录失败:" + result.errorMessage);
                    }
                }
            });
        });

        $("#register").click(function() {
            location.href = "/register";
        });
    });
</script>

<div id="wrapper">
    <#include "/common/header.html"/>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h2>用户登录</h2>
                <div class="col-sm-offset-11 col-sm-1">
                    <a href="#menu-toggle" class="btn btn-info" id="menu-toggle">显示菜单</a>
                </div>
            </div>
            <div class="row">
                <form role="form" class="form-horizontal">
                    <div class="form-group username has-feedback">
                        <label for="username" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-6">
                            <input type="text" id="username" name="username" class="form-control">
                            <span class="glyphicon form-control-feedback" style="display: none"></span>
                        </div>
                        <label class="control-label" for="username" style="display: none"></label>
                    </div>

                    <div class="form-group">
                        <label for="password" class="control-label col-sm-2">密码</label>
                        <div class="col-sm-6">
                            <input type="password" id="password" name="password" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-info" id="submit">登录</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-info" id="register">注册</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>