<!DOCTYPE html>
<html>
<head>
    <title>参数详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/simple-side-bar.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>

<div id="wrapper">
    <#include "/common/header.html"/>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-11">
                    <h2>参数详情</h2>
                </div>
                <div class="col-sm-offset-11 col-sm-1">
                    <a href="#menu-toggle" class="btn btn-info" id="menu-toggle">显示菜单</a>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <th>ID</th>
                    <th>名称</th>
                    <th>值</th>
                    <th>类型</th>
                    <th>描述</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>${parameter.id}</td>
                        <td>${parameter.name}</td>
                        <td>${parameter.value}</td>
                        <td>${parameter.dataType.name}</td>
                        <td>${parameter.description}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</div>
</body>